<!-- div class="container" -->
<input type="hidden" id="peanut-vm-context" value="context-test">
<h2>View Model Test</h2>
<div id="componentstest-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:gray"></span></div>
<div class="row">
    <div id="componentstest-view-container" class="col-md-6" style="display: none">

        <p>Device size <span data-bind="text:deviceSize"></span>
            <br>Bootstrap version: <span data-bind="text:bootstrapVersion"></span>
        </p>
        <h3 id="mainheader">Main Panel</h3>

        <p>Context id: <span data-bind="text:contextValue"></span> </p>

        <intro-message></intro-message>
        <message-constructor></message-constructor>
        <div data-bind="visible:messagePanel() == 'button'">
            <button data-bind="click:onShowForm">Show form component</button>
        </div>
        <div data-bind="visible:messageButtonVisible">
            <button data-bind="click:onShowMessageComponent">Show message component</button>
        </div>
        <div data-bind="visible:messagePanel() == 'form'">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input data-bind="value:messageText" /><button data-bind="click:onSendMessage">Send message</button>
        </div>

    </div>
    <div class="col-md-6">
        <h3>Components Panel</h3>
        <div id="test-form-container"><test-form></test-form></div>
        <div id="test-message-container"><test-message></test-message></div>
    </div>
</div>
<!-- /div -->