<div id="pagertest-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="pagertest-view-container" class="row" style="display: none">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <b>Pager:</b>
                    <pager params='click:changePage,page:currentPage,max:maxPages,owner:self'></pager>
                </div>
            </div>
        </div>
    </div>
</div>

