/dev-tools
/backackup
/sql/backup
/vendor
/sass/assets/**
/peanut/tests
/web.root/robots.txt
/web.root/application/config/mailgun.ini
/web.root/application/config/database.ini
/web.root/application/config/database.php
/web.root/application/themes/default/styles.css
/web.root/application/assets/js/libraries/**
/web.root/application/files/**
/web.root/application/documents/**
/tests/unit/files/pdf/**

# Project exclude paths
/web.root/application/peanut/tests/vm/ModalTestViewModel.js
/web.root/application/peanut/tests/vm/ServiceTestViewModel.js
/web.root/application/peanut/tests/vm/SimpleTestViewModel.js
/web.root/nutshell/pnut/admin/vm/InstallPackagesViewModel.js
/web.root/nutshell/pnut/admin/vm/InstallPackagesViewModel.js.map
/web.root/nutshell/pnut/components/cleanHtmlComponent.js
/web.root/nutshell/pnut/components/cleanHtmlComponent.js.map
/web.root/nutshell/pnut/components/entityPropertiesComponent.js
/web.root/nutshell/pnut/components/entityPropertiesComponent.js.map
/web.root/nutshell/pnut/components/incrementalSelectComponent.js
/web.root/nutshell/pnut/components/incrementalSelectComponent.js.map
/web.root/nutshell/pnut/components/lookupEditComponent.js
/web.root/nutshell/pnut/components/lookupEditComponent.js.map
/web.root/nutshell/pnut/components/lookupSelectComponent.js
/web.root/nutshell/pnut/components/lookupSelectComponent.js.map
/web.root/nutshell/pnut/components/modalConfirmComponent.js
/web.root/nutshell/pnut/components/modalConfirmComponent.js.map
/web.root/nutshell/pnut/components/monthLookupComponent.js
/web.root/nutshell/pnut/components/monthLookupComponent.js.map
/web.root/nutshell/pnut/components/multiSelectComponent.js
/web.root/nutshell/pnut/components/multiSelectComponent.js.map
/web.root/nutshell/pnut/components/pagerComponent.js
/web.root/nutshell/pnut/components/pagerComponent.js.map
/web.root/nutshell/pnut/components/selectedListComponent.js
/web.root/nutshell/pnut/components/selectedListComponent.js.map
/web.root/nutshell/pnut/components/translateComponent.js
/web.root/nutshell/pnut/components/translateComponent.js.map
/web.root/nutshell/pnut/core/App.js
/web.root/nutshell/pnut/core/App.js.map
/web.root/nutshell/pnut/core/KnockoutHelper.js
/web.root/nutshell/pnut/core/KnockoutHelper.js.map
/web.root/nutshell/pnut/core/PeanutLoader.js
/web.root/nutshell/pnut/core/PeanutLoader.js.map
/web.root/nutshell/pnut/core/Services.js
/web.root/nutshell/pnut/core/Services.js.map
/web.root/nutshell/pnut/core/Test.js
/web.root/nutshell/pnut/core/Test.js.map
/web.root/nutshell/pnut/core/ViewModelBase.js
/web.root/nutshell/pnut/core/ViewModelBase.js.map
/web.root/nutshell/pnut/core/WaitMessage.js
/web.root/nutshell/pnut/core/WaitMessage.js.map
/web.root/nutshell/pnut/extensions/Bootstrap/classes/BootstrapUiHelper.js
/web.root/nutshell/pnut/extensions/Bootstrap/classes/BootstrapUiHelper.js.map
/web.root/nutshell/pnut/extensions/BootstrapFA/classes/BootstrapFAUiHelper.js
/web.root/nutshell/pnut/extensions/BootstrapFA/classes/BootstrapFAUiHelper.js.map
/web.root/nutshell/pnut/extensions/BootstrapFive/classes/BootstrapFiveUiHelper.js
/web.root/nutshell/pnut/extensions/BootstrapFive/classes/BootstrapFiveUiHelper.js.map
/web.root/nutshell/pnut/extensions/BootstrapFour/classes/BootstrapFourUiHelper.js
/web.root/nutshell/pnut/extensions/BootstrapFour/classes/BootstrapFourUiHelper.js.map
/web.root/nutshell/pnut/js/editPanel.js
/web.root/nutshell/pnut/js/editPanel.js.map
/web.root/nutshell/pnut/js/htmlEditorObservable.js
/web.root/nutshell/pnut/js/htmlEditorObservable.js.map
/web.root/nutshell/pnut/js/listPageLoader.js
/web.root/nutshell/pnut/js/listPageLoader.js.map
/web.root/nutshell/pnut/js/multiSelectObservable.js
/web.root/nutshell/pnut/js/multiSelectObservable.js.map
/web.root/nutshell/pnut/js/searchListObservable.js
/web.root/nutshell/pnut/js/searchListObservable.js.map
/web.root/nutshell/pnut/js/selectListObservable.js
/web.root/nutshell/pnut/js/selectListObservable.js.map
/web.root/nutshell/pnut/js/USDollars.js
/web.root/nutshell/pnut/js/USDollars.js.map
/web.root/nutshell/pnut/js/ViewModelHelpers.js
/web.root/nutshell/pnut/js/ViewModelHelpers.js.map
/web.root/nutshell/pnut/packages/mailboxes/components/mailboxManagerComponent.js
/web.root/nutshell/pnut/packages/mailboxes/components/mailboxManagerComponent.js.map
/web.root/nutshell/pnut/packages/mailboxes/js/MailboxListObservable.js
/web.root/nutshell/pnut/packages/mailboxes/js/MailboxListObservable.js.map
/web.root/nutshell/pnut/packages/mailboxes/vm/ContactFormViewModel.js
/web.root/nutshell/pnut/packages/mailboxes/vm/ContactFormViewModel.js.map
/web.root/nutshell/pnut/packages/mailboxes/vm/MailboxesViewModel.js
/web.root/nutshell/pnut/packages/mailboxes/vm/MailboxesViewModel.js.map
/web.root/nutshell/pnut/packages/peanut-permissions/vm/PermissionsViewModel.js
/web.root/nutshell/pnut/packages/peanut-permissions/vm/PermissionsViewModel.js.map
/web.root/nutshell/pnut/packages/peanut-riddler/components/riddlerCaptchaComponent.js
/web.root/nutshell/pnut/packages/peanut-riddler/components/riddlerCaptchaComponent.js.map
/web.root/nutshell/pnut/packages/peanut-tasks/vm/SchedulerViewModel.js
/web.root/nutshell/pnut/packages/peanut-tasks/vm/SchedulerViewModel.js.map
# Project exclude paths
/web.root/application/assets/js/TestLib.js
/web.root/application/peanut/tests/components/introMessageComponent.js
/web.root/application/peanut/tests/components/introMessageComponent.js.map
/web.root/application/peanut/tests/components/messageConstructorComponent.js
/web.root/application/peanut/tests/components/messageConstructorComponent.js.map
/web.root/application/peanut/tests/components/testFormComponent.js
/web.root/application/peanut/tests/components/testFormComponent.js.map
/web.root/application/peanut/tests/components/testMessageComponent.js
/web.root/application/peanut/tests/components/testMessageComponent.js.map
/web.root/application/peanut/tests/vm/ComponentsTestViewModel.js
/web.root/application/peanut/tests/vm/MultiselectTestViewModel.js
/web.root/application/peanut/tests/vm/PagerTestViewModel.js
/web.root/application/peanut/tests/vm/PasswordTestViewModel.js
/web.root/nutshell/pnut/components/changePasswordComponent.js
/web.root/nutshell/pnut/packages/peanut-contacts/vm/ContactsViewModel.js
/web.root/nutshell/pnut/packages/peanut-contacts/vm/MailingFormViewModel.js
/web.root/nutshell/pnut/packages/peanut-contacts/vm/SubscriptionsViewModel.js
/web.root/nutshell/pnut/packages/peanut-contacts/vm/SubscriptionsViewModel.js.map
/web.root/nutshell/pnut/packages/peanut-contacts/vm/UnsubscribeViewModel.js
/web.root/nutshell/pnut/packages/peanut-users/vm/ManageUsersViewModel.js
/web.root/nutshell/pnut/packages/peanut-users/vm/SigninViewModel.js