<style>
    td { vertical-align: top}
</style>
<p>A calendar schedule request was recieved from <a href="mailto:[[requestor]]<[[email]]>">[[requestor]]</a> </p>
<table>
    <tbody>
    <tr><td><strong>Requestor</strong></td> <td>[[requestor]]</td></tr>
    <tr><td><strong>Email</strong></td>     <td>[[email]]</td></tr>
    <tr><td><strong>Title</strong></td>     <td>[[title]]</td></tr>
    <tr><td><strong>Location</strong></td>  <td>[[location]]</td></tr>
    <tr><td><strong>Room</strong></td>      <td>[[room]]</td></tr>
    <tr><td><strong>Date</strong></td>      <td>[[date]]</td></tr>
    <tr><td><strong>Time</strong></td>      <td>[[time]]</td></tr>
    <tr><td><strong>EventType</strong></td> <td>[[eventType]]</td></tr>
    <tr><td><strong>Repeat</strong></td>    <td>[[repeat]]</td></tr>
    <tr><td><strong>Committee</strong></td> <td>[[committee]]</td></tr>
    <tr><td><strong>Comments</strong></td>  <td><pre>[[comments]]</pre></td></tr>
    </tbody>
</table>
<p>
    <a href="[[calendar-url]]">Go to calendar</a>
</p>
