<h3>Greetings [[fullname]] from [[organizationname]]</h3>
<p>
    We have created an account for you on our web site. You can sign in here:
    <a href="[[loginlink]]"><strong>Sign in</strong></a>
</p>
<p>
    Your user name is:
    <strong>[[username]]</strong>
</p>
<p>
    Previously, you selected a password or we assigned one for you. If you don't know what it is, go here:<br>
    <a href="[[passwordlink]]"><strong>Recover your password.</strong></a>
</p>
<p>
    We are delighted to have you with us. If you need any help, contact our web support at:<br>
    <strong>[[supportaddress]]</strong>
</p>