<h3>Greetings [[fullname]], from South Central Yearly Meeting</h3>
<p>First, my apologies if you received more that one copies of this message. We had a previous issue the may
have caused that. Do not mean to spam you. :-)</p>
<p>
  In the next day or two, we shall launch a new version of our website <a href="https://scym.org">SCYM.org</a>
  We have created an account for you on our new web site and you will have a new password.
</p>
<p>
  Your user name is:
  <strong>[[username]]</strong>
  <br>
  Your new password is:
  <strong>[[pwd]]</strong>
</p>

<p>
  When the new site is live you use the same old URL: <a href="https://scym.org">https://scym.org</a>.
  Click the "Sign In" button in the top right corner of the home page to sign in with your new password.
</p>

<p>
  We expect to have everything going by March 11, 2022.
  If you have any questions or concerns, you can contact me at: terry.sorelle@outlook.com.
</p>
<p>
  Cheers,
  terry
</p>