<div class="form-group" class="password-component">
    <div data-bind="visible:pwdvisible">
        <label class="form-label"  data-bind="visible:label,text:label,attr: { for: controlIdShow }"></label>
        <div class="input-group">
            <input type="text" class="form-control" autocomplete="current-password" placeholder="Enter password"
                   data-bind="value:password, attr: { id: controlIdShow }">
            <button class="btn btn-outline-secondary" type="button"
                    data-bind="click:toggleVisibility" title="Hide password">
                <i class="far fa-eye-slash"></i>
            </button>
        </div>
    </div>
    <div data-bind="hidden:pwdvisible">
        <label class="form-label" data-bind="visible:label,text:label,attr: { for: controlIdHide }"></label>
        <div class="input-group" >
            <input type="password" autocomplete="current-password" class="form-control" placeholder="Enter password"
                   data-bind="value:password,attr: { id: controlIdHide }">
            <button class="btn btn-outline-secondary" type="button" title="Show password"
                    data-bind="click:toggleVisibility" >
                <i class="far fa-eye"></i>
            </button>
        </div>
    </div>
</div>

