<div data-bind="foreach:propertyRows">
    <div data-bind="foreach:$data" class="row">
        <div  data-bind="css:cssColumn" class="form-group">
            <label data-bind="text:label"></label>
            <select class="form-control"
                    data-bind="visible: !$parents[1].readOnly(), options: lookup,optionsText:'name',value:selected,optionsCaption:caption"></select>
            <div data-bind="visible: $parents[1].readOnly">
                <span data-bind="text:displayText"></span>
            </div>
        </div>
    </div>
</div>