<div id="lyrics-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="lyrics-view-container" style="display: none" data-bind="descendantsComplete: afterDatabind">
    <div class="row" data-bind="visible:page()=='lyrics'">
        <div class="col-md-12 d-none d-print-block">
            <h3 data-bind="text:title"></h3>
        </div>
        <div class="col-md-12 lyrics-menu d-print-none">
            <button title='Previous in set' data-bind="click:prevSong" class="btn default"><i class="fa fa-backward"></i></button>
            <button class="btn menu-label" style="min-width: 20rem"><span data-bind="text:title"></span></button>
            <button title='Next in set' data-bind="click:nextSong" class="btn default"><i class="fa fa-forward"></i></button>
            <button title='Song list' style="padding-left:2em;padding-right: 2em" data-bind="click:showSongList" class="btn default"><i class="fa fa-music"></i></button>
            <button title='Split/Join Columns'  data-bind="click:splitColumns" class="btn default"><i class="fa fa-columns" aria-hidden="true"></i></button>
            <button title='Edit'  data-bind="click:editSong,visible:showEditButton" class="btn default">
                <i class="fa-solid fa-pen-to-square"></i></button>
            <button title='Cancel'  data-bind="click:cancelSongEdit,visible:editMode" class="btn default">
                <i class="fa-solid fa-rectangle-xmark"></i></button>
            <button title='Save'  data-bind="click:saveSong,visible:editMode" class="btn default">
                <i class="fa-solid fa-floppy-disk"></i></button>

            <span data-bind="visible:loading" style="color:lightgrey">
            <i class="fa fa-spinner fa-pulse"></i> Loading '<span data-bind="text:loading"></span>...</span>

            <div style="float:right">
                <button title='Smaller Text' class="btn btn-default"  style="min-width:3em"
                        data-bind="click:reduceFont, visible:textSize() > 1">
                    <i class="fa fa-search-minus"></i>
                </button>

                <button class="btn btn-default"  style="min-width:3em"
                        data-bind="visible:textSize() <= 1">&nbsp;
                </button>

                <button class="btn menu-label" style="min-width:5em"> <span data-bind="text:textSize"></span></button>

                <button title='Bigger Text' class="btn btn-default"
                        data-bind="click:enlargeFont">
                    <i class="fa fa-search-plus"></i></button>
                <button title='Help' class="btn btn-default" style="padding-left: 2em" data-bind="click:help"><i class="fa fa-question-circle-o"></i></button>
            </div>
        </div>
        <!-- Spaces keep menu from covering content -->
        <div style="margin-top: 3rem" class="d-print-none">
        </div>
        <div style="margin-top: 2rem" class="mb-2 d-lg-none d-d-md-none d-print-none">
        </div>
        <div class="info-button d-print-none" data-bind="visible:showInfoButton">
            <a href="#" title="Show notes..."
               id="song-list-button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                <i class="fa-solid fa-comment-dots fa-flip-horizontal"></i>
            </a>
        </div>

        <div class="offcanvas offcanvas-end song-panel" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header offcanvas-songs-header">
                <h5 id="offcanvasRightLabel">Notes</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body  offcanvas-songs-body">
                <div class="mb-3">
                    <div class="mt-3" >
                        <content-block params="controller: contentController,
                                title: 'Song Notes',
                                id: 'notes-content', source: songForm.notes,
                                    canedit:editMode"></content-block>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left: 1.5rem">
            <div class="col-md-12" style="min-height: 5rem">
                <lyrics-block params="lyrics:songForm.lyrics, canedit:editMode,
                    save:onSaveLyrics, columns:columnDisplay, textsize: textSize"></lyrics-block>
            </div>
        </div>
    </div>

    <div style="padding-top: 2ex" data-bind="visible:page()=='songs'">
        <div class="row" >
            <div class="col-md-2">
                <div data-bind="visible:!signedIn()">
                    <a href="/signin">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Sign In</a>
                </div>
                <div><a href="#" data-bind="visible:signedIn,click:newSet">New set</a> </div>
            </div>
            <div class="col-md-10">
                <div data-bind="visible:signedIn" style="margin-bottom: 0"><a href="#" data-bind="click:newSong">New song</a> </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-2" style="border-right: 1px solid lightgrey" >
                <h3>Sets</h3>
                <ul class="linklist" data-bind="foreach:sets">
                    <li  data-bind="css:{linkhighlight: $root.selectedSet().id === id}">
                        <a href="#" data-bind="click:$root.selectSet"><span data-bind="text:setname"></span></a>
                        <span data-bind="visible:$root.signedIn() && id > 0">
                        &nbsp;<a href="#"  data-bind="click:$root.editSet"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </span>
                    </li>

                </ul>
            </div>
            <div class="col-md-10">
                <div>
                    <div style="color:lightgrey; float:right" data-bind="visible:loading">
                        <i class="fa fa-spinner fa-pulse"></i> Loading set '<span data-bind="text:loading"></span>'
                        ...
                    </div>


                    <h3>Songs</h3>
                </div>

                <div>
                    <pager params='click:pageController.changePage,
                        page:pageController.currentPageNumber,
                        max:pageController.maxPages,owner:self'></pager>
                </div>

                <div class="row">
                    <div class="lyrics-menu" data-bind="visible:loading" >
                    </div>
                    <div class="col-md-4">
                        <ul class="linklist" data-bind="foreach:pageController.column[0]()">
                            <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                                <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="linklist" data-bind="foreach:pageController.column[1]()">
                            <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                                <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="linklist" data-bind="foreach:pageController.column[2]()">
                            <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                                <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 2ex" data-bind="visible:page()=='help'">
        <div class="col-md-12">
            <h3>Notes:</h3>
            <p><a href="#"  data-bind="click:home">Return to lyric page</a> </p>
            <p>The purpose of this application is to display lyric sheets in a readable fashion as a reminder prompt for a performer at a song-circle or other event.
                It is designed to be used on a Kindle Fire but can be viewed on any device.</p>
            <p>This diagram explains the buttons on the menu bar of the man page.</p>
            <p>
                <img alt='Menu diagram' src="/application/assets/images/menu-help.jpg" class="img-responsive" >
            </p>

            <!-- p>
                You can create and edit your own songs and sets too.  If you'd like this please register on my songs site.
                Indicate in the "Interests and Instruments" section that you'd like to put your own songs on the "Lyric Sheets" application.

                <a href ="https://terrys-songs.net/user/register" target="_blank">Register on "Terry's Songs"</a>
            </p -->

        </div>
    </div>

    <div data-bind="visible:page()=='editset'">
        <form>
            <div class="row" style="padding-top: 2ex" >
                <div class="col-md-6">
                    <h3>Build a set</h3>
                    <div class="form-group">
                        <!-- div data-bind="visible:setForm.id() !== null">
                            <span data-bind="text:setForm.setName" style="font-weight: bold"></span>
                        </div-->
                        <div> <!-- data-bind="visible:setForm.id() == null" -->
                            <label class="control-label" for="setname" style="font-weight: bold">Set name</label>
                            <span class="error" data-bind="visible: setForm.nameError">
                                    :</span> <span  class="error"  data-bind="text:setForm.nameError" ></span>
                            <input type="text" class="form-control" id="setname" data-bind="value: setForm.setName" />
                        </div>
                    </div>
                </div>
                <!-- div class="col-md-6">
                    <button type="button" class="btn btn-primary" data-bind="click:saveSetList" style="margin-right: 3rem">Save</button>
                    <button type="button" class="btn btn-link" data-bind="click:cancelSetEdit">Cancel</button>

                </div -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label style="font-weight: bold; margin-bottom: 0">Selected Songs</label>
                    <div>
                        <button type="button" class="btn btn-link" data-bind="click:saveSetList" style="font-weight: bold; margin-right: 3rem">Save</button>
                        <button type="button" class="btn btn-link" data-bind="click:cancelSetEdit">Cancel</button>
                        <button type="button" class="btn btn-secondar pull-right" data-bind="click:deleteSet">Delete set</button>
                    </div>
                    <div>
                        <ul class="linklist" data-bind="foreach:setForm.selectedSongs">
                            <!-- script id="personTmpl" type="text/html" -->
                            <li
                                    data-bind="event: {
                                        dragstart: $root.onDragstart,
                                        dragend: $root.onDragend,
                                        dragover: $root.onDragover,
                                        dragenter: $root.onDragenter,
                                        dragleave: $root.onDragleave,
                                        drop: $root.onDrop,
                                        }"
                            >
                                <a href="#" data-bind="click:$root.moveSongUp"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>&nbsp;
                                <a href="#" data-bind="click:$root.moveSongDown"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                &nbsp;
                                <a href="#" data-bind="click:$root.removeFromSetList"><span data-bind="text:title"></span> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </li>
                            <!-- /script -->
                        </ul>
                    </div>

                </div>

                <div class="col-md-8">
                    <label  style="font-weight: bold">Available Songs</label>
                    <div class="form-group" style="margin-bottom: 0">
                        <input type="text" class="form-control" placeholder="Search" id="search" data-bind="textInput: setForm.searchValue" />
                    </div>
                    <!-- div>
                        <a href="#" data-bind="click:toggleUser">
                            <span data-bind="visible:filterByUser">Show all songs</span>
                            <span data-bind="visible:!filterByUser()">Show my songs only</span>
                        </a>
                    </div -->
                    <div>
                        <ul class="linklist" data-bind="foreach:setForm.avaliableSongs" style="padding-bottom: 2rem">
                            <li>
                                <a href="#" data-bind="click:$root.addToSetList"><i class="fa fa-angle-double-left" aria-hidden="true"></i> <span data-bind="text:title"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div> <!-- end page -->

    <modal-confirm params="id:'confirm-lyric-save-modal',headerText: 'Saving', bodyText: 'Ready to save lyrics?',
        confirmClick: onConfirmSaveOk, translator:self"></modal-confirm>
</div>

